.home-container {
  display: flex;
  align-items: center; /* vertical center */
  justify-content: space-between; /* space between text & image */
  color: white;
  max-width: 100%;
  margin: 0 5%;
  min-height: 100vh;
}

.home-content {
  flex: 1;
  margin-top: -5%;
  transition: transform 0.3s ease;
}

/* .button{
    background-color: aqua;
    border-color: aqua;
    color: black;
    font-weight: bold;
} */
.resumeButton:hover {
  color: aqua;
  border-color: aqua;
  box-shadow: 1px 2px 10px aqua;
  background-color: #0f172a;
}
.achiveButton:hover {
  color: rgb(3, 17, 117);
  box-shadow: 1px 2px 10px aqua;
  background-color: #0f172a;
}
.homeImage {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* push image right */
  align-items: center;
}

.homeImage img {
  width: 600px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .home-container {
    margin-top: 20%;
    flex-direction: column;
    text-align: left;
  }

  .homeImage {
    justify-content: center;
    margin-top: -100%;
  }

  .homeImage img {
    width: 360px;
  }
}
